<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MatchAPIController</servlet-name>
        <servlet-class>Controller.API.Match.MatchAPIController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerAPIController</servlet-name>
        <servlet-class>Controller.ServerAPI.ServerAPIController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllActiveServerAPI</servlet-name>
        <servlet-class>Controller.ServerAPI.GetAllActiveServerAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServerAPI</servlet-name>
        <servlet-class>Controller.ServerAPI.EditServerAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainDashboardController</servlet-name>
        <servlet-class>Controller.Dashboard.MainDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServerListController</servlet-name>
        <servlet-class>Controller.Dashboard.ViewServerListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServerController</servlet-name>
        <servlet-class>Controller.Dashboard.AddServerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServerController</servlet-name>
        <servlet-class>Controller.Dashboard.EditServerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServerController</servlet-name>
        <servlet-class>Controller.Dashboard.DeleteServerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchRegisterController</servlet-name>
        <servlet-class>Controller.Dashboard.MatchRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchOrders</servlet-name>
        <servlet-class>Controller.Dashboard.MatchOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMatchOrdersController</servlet-name>
        <servlet-class>Controller.Dashboard.EditMatchOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMatchOrderController</servlet-name>
        <servlet-class>Controller.Dashboard.DeleteMatchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchHistoryController</servlet-name>
        <servlet-class>Controller.Dashboard.MatchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMatchAPI</servlet-name>
        <servlet-class>Controller.API.Match.GetMatchConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewMatch</servlet-name>
        <servlet-class>Controller.API.Match.InsertNewMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMatch</servlet-name>
        <servlet-class>Controller.API.Match.UpdateMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>Controller.Dashboard.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>Controller.Dashboard.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>Controller.Dashboard.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminController</servlet-name>
        <servlet-class>Controller.Dashboard.DeleteAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMatchHistoryController</servlet-name>
        <servlet-class>Controller.Dashboard.EditMatchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMatchHistoryController</servlet-name>
        <servlet-class>Controller.Dashboard.DeleteMatchHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchAPIController</servlet-name>
        <url-pattern>/api/match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerAPIController</servlet-name>
        <url-pattern>/api/servers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllActiveServerAPI</servlet-name>
        <url-pattern>/api/server/getactiveservers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServerAPI</servlet-name>
        <url-pattern>/api/server/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainDashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServerListController</servlet-name>
        <url-pattern>/server/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServerController</servlet-name>
        <url-pattern>/server/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServerController</servlet-name>
        <url-pattern>/server/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServerController</servlet-name>
        <url-pattern>/server/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchRegisterController</servlet-name>
        <url-pattern>/match/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchOrders</servlet-name>
        <url-pattern>/match/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMatchOrdersController</servlet-name>
        <url-pattern>/match/order/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMatchOrderController</servlet-name>
        <url-pattern>/match/order/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchHistoryController</servlet-name>
        <url-pattern>/match/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMatchAPI</servlet-name>
        <url-pattern>/api/match/check-match-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewMatch</servlet-name>
        <url-pattern>/api/match/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMatch</servlet-name>
        <url-pattern>/api/match/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/account/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/account/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminController</servlet-name>
        <url-pattern>/account/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMatchHistoryController</servlet-name>
        <url-pattern>/match/history/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMatchHistoryController</servlet-name>
        <url-pattern>/match/history/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
